@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
	--foreground-rgb: '#5F738C';
	--font-dms-serif-display: 'Swis721 BT','DM Serif Display', serif;
}

@font-face {
  font-family: 'Swis721 BT';
  src: url('/fonts/Swiss721BT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
	.container {
		@apply px-4 md:px-10 xl:px-20 mx-auto max-w-[1440px];
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Swis721 BT';
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

.custom-loader {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: conic-gradient(#0000 10%, #518a79);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0);
	animation: s3 1s infinite linear;
}
@keyframes s3 {
	to {
		transform: rotate(1turn);
	}
}
