@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
	--foreground-rgb: '#5F738C';
	--font-dms-serif-display: 'DM Serif Display', serif;
}

@layer components {
	.container {
		@apply px-4 md:px-10 xl:px-20 mx-auto max-w-[1440px];
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

.sun-effect {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #ffcc00; /* Base color for the sun */
	background-image: radial-gradient(
		circle at center,
		#ffff00,
		#ffcc00 70%,
		#ff9900
	);
	box-shadow: 0 0 50px #ffcc00, 0 0 100px #ffcc00; /* Glow effect */
	position: relative;
	display: block;
	margin: 50px auto; /* Center the sun */
}

/* Adding beams around the sun */
.sun-effect::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	width: 140px;
	height: 140px;
	background-image: conic-gradient(
		from 15deg at center,
		#ffffff00 0deg,
		#ffffff00 3deg,
		#ffffcc22 3deg,
		#ffffcc22 5deg,
		#ffffff00 5deg
	);
	border-radius: 50%;
	z-index: -1;
}
